{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}
<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Add Assigment</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="Assigments.html">Assigment</a></li>
<li class="breadcrumb-item active">Add Assigment</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
    <form method = "POST">
        {% csrf_token %}
        <div class="row">
<div class="col-12">
<h5 class="form-title"><span>Assigment Information</span></h5>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Assigment Number</label>
<input type="text" name="Assigment_number" class="form-control">
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Topic</label>
<input type="text" name="Topic" class="form-control">
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Sub Topic</label>
<input type="text" name="sub_Topic" class="form-control">
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Description</label>
<input type="text" name="Description" class="form-control">
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Task</label>
<input type="text" name="Task" class="form-control">
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Submissions Date</label>
<input type="date" name="date" class="form-control">
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>time</label>
<input type="time" name="time" class="form-control">
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Category</label>
<select name="Category" class="form-control">
    <option>Select Category</option>
    {% for dep in Category %}
    <option value="{{dep.id}}">{{dep.name}}</option>
    {% endfor %}
 </select>
</div>
</div>
<div class="col-12">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
{% include "includes/footer.html" %}