{% load static %} {% include "includes/elearning-template.html" %} 
<style>
    h1{
        text-align: center;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        margin: 10px 0;
        text-transform: capitalize;
    }
    h2{
        color: black;
        font-family: 'Times New Roman', Times, serif;
        margin: 10px 0;
        text-transform: capitalize;
    }
    p{
        font-size: 26px;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        text-indent: 20px;
    }
</style>
<br>
<br>
<div class="col-auto text-right float-right ml-auto">
    <a href="add-exam.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
    </div>
<h1 align = "center">Assigments 1</h1>
<h2>introduction to chemistry <b>weight 15marks</b> <small><i>submissions date 21-09-2003</i></small></h2>
<p>explain types and main importance of studying chemistry</p>
{% include "includes/footer.html" %}