{% load static %} {% include "includes/elearning-template.html" %} 
<style>
    h1{
        text-align: center;
        color: blue;
        font-family: 'Times New Roman', Times, serif;
        margin: 10px 0;
    }
    p{
        font-size: 16px;
        margin: 3px 10px;
    }
</style>
<br>
<br>
<div class="col-auto text-right float-right ml-auto">
    <a href="{% url 'marksAssigments' subject.id 1 %}" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> marks</a>
    <a href="{% url 'AddAssigment' subject.id %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
    </div>
<h1 align = "center">Previous Assigments</h1>
<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> due to 3<sup>rd</sup>March 2023  <span class="badge badge-danger">not Submitted</span>  <b>score: 0</b></p>

<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> due to 3<sup>rd</sup>March 2023  <span class="badge badge-danger">not Submitted</span>  <b>score: 0</b></p>

<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> due to 3<sup>rd</sup>March 2023  <span class="badge badge-danger">not Submitted</span>  <b>score: 0</b></p>

<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> due to 3<sup>rd</sup>March 2023  <span class="badge badge-danger">not Submitted</span>  <b>score: 0</b></p>

<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> due to 3<sup>rd</sup>March 2023  <span class="badge badge-danger">not Submitted</span>  <b>score: 0</b></p>

<h1 align = "center">Submitted Assigments</h1>
<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> Submitted on 3<sup>rd</sup>March 2023 <span class="badge badge-success">Submitted</span>  <b>score: not weighted</b></p>
<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> Submitted on 3<sup>rd</sup>March 2023 <span class="badge badge-success">Submitted</span>  <b>score: not weighted</b></p>
<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> Submitted on 3<sup>rd</sup>March 2023 <span class="badge badge-success">Submitted</span>  <b>score: not weighted</b></p>
<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> Submitted on 3<sup>rd</sup>March 2023 <span class="badge badge-success">Submitted</span>  <b>score: not weighted</b></p>
<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> Submitted on 3<sup>rd</sup>March 2023 <span class="badge badge-success">Submitted</span>  <b>score: not weighted</b></p>
<h1 align = "center">Late Submitted Assigments</h1>
<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> Submitted on 3<sup>rd</sup>March 2023 <span class="badge badge-danger">late submissions</span>  <b>score: not weighted</b></p>
 
<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> Submitted on 3<sup>rd</sup>March 2023 <span class="badge badge-danger">late submissions</span>  <b>score: not weighted</b></p>

<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> Submitted on 3<sup>rd</sup>March 2023 <span class="badge badge-danger">late submissions</span>  <b>score: not weighted</b></p>

<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> Submitted on 3<sup>rd</sup>March 2023 <span class="badge badge-danger">late submissions</span>  <b>score: not weighted</b></p>

<p><a href="{% url 'UploadAssigments' subject.id 1 %}">Assigment 1:</a> <b>introduction to chemistry - types</b> Submitted on 3<sup>rd</sup>March 2023 <span class="badge badge-danger">late submissions</span>  <b>score: not weighted</b></p>

<h1 align = "center">Current Assigment s</h1>
{% include "includes/footer.html" %}