{% load static %} {% include "includes/elearning-template.html" %} 
<style>
    h1{
        text-align: center;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        margin: 10px 0;
        text-transform: capitalize;
    }
    h2{
        color: black;
        font-family: 'Times New Roman', Times, serif;
        margin: 10px 0;
        text-transform: capitalize;
    }
    p{
        font-size: 26px;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        text-indent: 20px;
    }
</style>
<br>
<br>
<h1 align = "center">Student Assigments Marks</h1>
<table class="table table-hover table-center mb-0 datatable">
    <thead>
    <tr>
    <th>ID</th>
    <th>Name of group / student</th>
    <th>Document</th>
    <th>status</th>
    <th>marks scored</th>
    <th>Out of</th>
    <th class="text-right">Action</th>
    </tr>
    </thead>
    <tbody>
        {% for ass in submission_ass %}
    <tr>
        <td>{{ass.id}}</td>
        {% if ass.group %}
    <td>{{ass.group}}</td>
    {% else %}
    <td>{{ass.user.first_name}}</td>
{% endif %}
<td><a href="">{{ass.doc}}</a></td>  
<td>{{ass.status}}</td>
    <form method="POST" action="{% url 'assignMarksToAssigment' subject.id topic.id ass.id %}">
        {% csrf_token %}

    <td>
        <input type="number" name="marks" value="{{ass.marks}}">
    </td>
        <td>{{ass.assigniment.Weight}}</td>
    <td class="text-right">
    <div class="actions">
        <input type="submit" value="save" class="btn btn-success m-l-5 fas fa-paper-plane m-r-5">
    </div>
    
    </td>
</form>
    </tr>
    {% endfor %}
    <tr>
        <td>5</td>
        <td><b>Total</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
    </table>
    {% include "includes/footer.html" %}