{% load static %} {% include "includes/elearning-template.html" %} 
<style>
    .down-h5{
        margin-top: 50px;
        margin-left: 50px;
        font-weight: bold;
    }
</style>
<br>
<br>
            
<div class="col-auto text-right float-right ml-auto">
    <a href="{% url 'TutorialAdd' subject.id topic.id %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
   </div>
   <p class="col-12 float-right">
    <h5 class="form-title"><span>{{tutorial.title}}</span></h5>
</p>
                <video 
                src="{{tutorial.file.url}}" controls width="100%" >
                Tutorial</video>
            </div>
            
<div class="col-auto text-right float-left ml-auto">
    <a href="{% url 'PreviousPage' subject.id topic.id tutorial.id %}" class="btn btn-primary">Previous</a>
   </div>
   <div class="col-auto text-right float-right ml-auto">
       <a href="{% url 'NextTuturial' subject.id topic.id tutorial.id %}" class="btn btn-primary">Next</a>
      </div>
      <div class="col-auto text-right float-center ml-auto">
        <div class="actions">
            <a href="{% url 'TutorialEdit' subject.id topic.id tutorial.id %}" class="btn btn-sm bg-success-light mr-2">
            <i class="fas fa-pen"></i>
            </a>
            <a href="#" class="btn btn-sm bg-danger-light">
            <i class="fas fa-trash"></i>
            </a>
            </div>
              
      </div>
      <br>
      <br>
      <p class="col-12">
        <h5 class="form-title"><span>Video description</span></h5>
        <p>{{tutorial.description}}</p>
    </p>
</div>
</div>
</div>
</div>
</div>

    {% load static %} {% include "includes/footer.html" %}