{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}

<div class="page-wrapper">
    <div class="content container-fluid">
       <div class="page-header">
          <div class="row align-items-center">
             <div class="col">
                <h3 class="page-title">Students</h3>
                <ul class="breadcrumb">
                   <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                   <li class="breadcrumb-item active">Students</li>
                </ul>
             </div>
             <div class="col-auto text-right float-right ml-auto">
                <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                <a href="{% url 'studentAdd' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
             <div class="card card-table">
                <div class="card-body">
                   <div class="table-responsive">
                      <table class="table table-hover table-center mb-0 datatable">
                         <thead>
                            <tr>
                               <th>ID</th>
                               <th>Name</th>
                               <th>Gender</th>
                               <th>Course</th>
                               <th>Class</th>
                               <th>DOB</th>
                               <th>Mobile Number</th>
                               <th class="text-right">Action</th>
                            </tr>
                         </thead>
                         <tbody>
                           {% for st in stud %}
                            <tr>
                               <td>{{st.registration_no}}</td>
                               <td>
                                  <h2 class="table-avatar">
                                     <a href="student-details.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/avatar-01.jpg' %}" alt="User Image"></a>
                                     <a href="student-details.html">{{st.name}}</a>
                                  </h2>
                               </td>
                               <td>{{st.gender}}</td>
                               <td>{{st.course.name}}</td>
                               <td>{{st.classCurrent.name}}</td>
                               <td>{{st.date_of_birth}}</td>
                               <td>{{st.phone_number}}</td>
                               <td class="text-right">
                                  <div class="actions">
                                     <a href="{% url 'studentEdit' st.id %}" class="btn btn-sm bg-success-light mr-2">
                                     <i class="fas fa-pen"></i>
                                     </a>
                                     <a href="{% url 'studentDelete' st.id %}" class="btn btn-sm bg-danger-light">
                                     <i class="fas fa-trash"></i>
                                     </a>
                                  </div>
                               </td>
                            </tr>
                            {% endfor %}
                         </tbody>
                      </table>
                   </div>
                </div>
             </div>
             
          </div>
       </div>
    </div>
{% load static %} {% include "includes/footer.html" %}