{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">division.</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Division</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a> {% if perms.OnlineExamination.add_division %}
                    <a href="{% url 'divisionAdd' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a> {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="example1" class="table table-hover table-center mb-0">
                    <thead>
                        <tr>
                            <th>division</th>
                            <th>Range (%)</th>
                            <th>Description</th>
                            <th>Level</th>
                            {% if perms.OnlineExamination.change_division or perms.OnlineExamination.delete_division %}
                            <th class="text-right">Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for division in divisions %}
                        <tr>
                            <td>{{division.name}}</td>
                            <td>{{division.lower_point}} - {{division.upper_point}}</td>
                            <td>{{division.description}}</td>
                            <td>{{division.level.name}}</td>
                            {% if perms.OnlineExamination.change_division or perms.OnlineExamination.delete_division %}
                            <td class="text-right">
                                <div class="actions">
                                    {% if perms.OnlineExamination.change_division %}

                                    <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal" data-target="#modal-default_{{division.id}}" href="#edit_personal_details"><i
                      class="fas fa-pen"></i></a>
                                    </a>
                                    {% endif %} {% if perms.OnlineExamination.delete_division %}
                                    <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal" data-target="#modal-default_delete_{{division.id}}" href="#edit_personal_details">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    {% endif %}


                            </td>
                            {% endif %}
                        </tr>

                        <div class="modal fade" id="modal-default_delete_{{division.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Info</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Are you sure you want to delete division of
                                            <b>{{division.name}}</b>
                                        </h3>
                                        <a href="{% url 'divisionDelete' division.id %}" class="btn btn-sm bg-danger-light text-right">
                      Delete
                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-default_{{division.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">division Information</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'divisionEdit' division.id %}" enctype="multipart/form-data" method="POST">
                                            {% csrf_token %}

                                            <div class="form-group">
                                                <label>division.Name</label>
                                                <input type="text" value="{{division.name}}" name="name" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Lower point</label>
                                                <input type="number" value="{{division.lower_point}}" name="lower_point" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>Upper point</label>
                                                <input type="number" value="{{division.upper_point}}" name="upper_point" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Description</label>
                                                <input type="text" value="{{division.description}}" name="description" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Level</label>
                                                <select class="form-control" name="level">
                          {% for level in levels %}
                          <option value="{{level.id}}">{{level.name}}</option>
                          {% endfor %}
                        </select>
                                            </div>


                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-primary" value="Save changes">
                                            </div>
                                        </form>
                                    </div>

                                    {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
                </div>

                </div>
            </div>
        </div>
    </div>
    {% load static %} {% include "includes/footer.html" %}