{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Questions Type</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Questions Type</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                    <a href="{% url 'QuestionsTypeAdd' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="example1" class="table table-hover table-center mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Number of questions</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exam in QuestionsTypes %}
                        <tr>
                            <td>{{exam.name}}</td>
                            <td>{{exam.weight}}</td>
                            <td>{{exam.number_of_questions}}</td>
                            <td class="text-right">
                                <div class="actions">
                                    <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal" data-target="#modal-default_{{exam.id}}" href="#edit_personal_details"><i
                      class="fas fa-pen"></i></a>
                                    </a>
                                    <a href="{% url 'QuestionsTypeDelete' exam.id %}" class="btn btn-sm bg-danger-light">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <div class="modal fade" id="modal-default_{{exam.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Questions Types Information</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'QuestionsTypeEdit' exam.id %}" enctype="multipart/form-data" method="POST">
                                            {% csrf_token %}


                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" name="name" value="{{exam.name}}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Weight</label>
                                                <input type="text" name="weight" value="{{exam.weight}}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Number of questions</label>
                                                <input type="text" name="number_of_questions" value="{{exam.number_of_questions}}" class="form-control">
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-primary" value="Save changes">
                                            </div>
                                        </form>
                                    </div>

                                    {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
                </div>

            </div>
        </div>
    </div>
    {% load static %} {% include "includes/footer.html" %}