{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}
<div class="page-wrapper">
    <div class="content container-fluid">
       <div class="page-header">
          <div class="row align-items-center">
             <div class="col">
                <h3 class="page-title">Add Exam Type</h3>
                <ul class="breadcrumb">
                   <li class="breadcrumb-item"><a href="Exam Type.html">Exam Type</a></li>
                   <li class="breadcrumb-item active">Add Exam Type</li>
                </ul>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
             <div class="card">
                <div class="card-body">
   
                  <form method = "POST">
                     {% csrf_token %}
                     <div class="form-group">
                        <label>Exam Type</label>
                        <input type="text" value ="{{examtype.name}}" name="name" class="form-control">
                     </div>
                     <div class="form-group">
                        <label>Contribution to end of year Exam (%)</label>
                        <input type="number" value ="{{examtype.weight_annual}}" name = "weight_annual" class="form-control">
                     </div>
                  
                     <div class="form-group">
                        <label>Contribution to end of year Exam (%)</label>
                           <input type="number" value ="{{examtype.weight_final}}" name="weight_final" class="form-control">
                     </div>
                     <div class="form-group">
                          <label>Level</label>                           
                          <select class="form-control" name= "studentClass">
                             {% for class in studentClass %}
                             <option value="{{class.id}}">{{class.name}}</option>
                             {% endfor %}
                          </select>
                    </div>
                  
               
                         <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>

{% load static %} {% include "includes/footer.html" %}