{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}

<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Exam Rules and Regulations</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Exam</a></li>
            <li class="breadcrumb-item active">Exam Rules</li>
          </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
          <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
          <a href="{% url 'examFormatAdd' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <ol>
              <li>All exams can be done by student if and only if student makes an appointment one week before.</li>
              <li>Exam may be councelled if student report to the administration with aproved resons.</li>
              <li>Written of name in any where of the exam </li>
              <li></li>
              <li></li>

            </ol>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% load static %} {% include "includes/footer.html" %}