{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}
<style>
    .page-title {
        text-align: center;
    }

    .same-col {
        display: inline-block;
    }
</style>
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">United Republic of Tanzania</h3>
                    <h3 class="page-title">Examination Council</h3>
                    <h3 class="page-title">Examination Verification</h3>
                    <h3 class="page-title">{{student_exams.studentClass.name}}</h3>

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">{{student_exams.subject.subject_code}}</a></li>
                        <li class="breadcrumb-item active">{{student_exams.subject.subject_name}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 ">
                <div class="card card-table ">
                    <div class="card-body ">
                        {% for answer in student_answers %}
                        <h3>Questions</h3>
                        <ol>
                            <div class="card card-table ">
                                <div class="card-body ">
                                    <li class="m-4">{{answer.generated_question.question}}
                                        <b>({{answer.generated_question.exam_format.gettingMarks}}% marks)</b>.
                                    </li>
                                    <div class="d-flex justify-content-between">
                                        <li class="m-4"><b>Answer :</b>{{answer.user_answers}}</b>. <i>value scores
                                                {{answer.marks_scored}}</i></li>
                                        {% if answer.is_verified_teacher %} <li class="m-4 badge badge-success">
                                            Verified</li>{% else %}
                                        <li class="m-4 badge badge-danger"> Unverified</li> {% endif %}
                                        <li class="btn btn-primary h-50" data-toggle="modal"
                                            data-target="#modal-edit-question-{{answer.id}}"
                                            href="#edit_personal_answer"><i class="fas fa-pen"></i></lo>
                                    </div>
                                </div>

                                <div class="modal fade" id="modal-edit-question-{{answer.id}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Question Info</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <form action="{% url 'UpdateMarks' answer.id %}" enctype="multipart/form-data" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label>Marks</label>
                                                        <input type="number" name="marks" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Feedback</label>
                                                        <input type="text" name="feedback" class="form-control">
                                                    </div>
                                            </div>

                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-primary" value="Save changes">
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    </ol>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% load static %} {% include "includes/footer.html " %}