{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}
<style>
    .page-title {
        text-align: center;
    }

    .same-col {
        display: inline-block;
    }
</style>
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">United Republic of Tanzania</h3>
                    <h3 class="page-title">Examination Council</h3>
                    <h3 class="page-title">Bank of Question Verification</h3>
                    <h3 class="page-title">{{teacher_subjects_class.studentClass.name}}</h3>

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                href="index.html">{{teacher_subjects_class.subject.subject_code}}</a></li>
                        <li class="breadcrumb-item active">{{teacher_subjects_class.subject.subject_name}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 ">
                <div class="card card-table ">
                    <div class="card-body ">
                        {% for qn in full_questions %}
                        {% if qn.topic %}
                        <h3 class="page-title">{{qn.topic}}:</h3>
                        <hr>
                        <h3>Questions</h3>
                        <ol>
                            {% if qn.items %}

                            {% for details in qn.Questions %}

                            <div class="card card-table ">
                                <div class="card-body ">
                                    <li class="m-4">{{details.questions}} <b>{{details.questionType.name}}</b>.</li>
                                    <div class="d-flex justify-content-between">
                                        <li class="m-4"><b>Answer :</b>{{details.answers}}</b>.</li>
                                        <li>is correct <input type="checkbox" name="Answer_{{details.id}}"
                                                class="form-control"></li>
                                        <li class="btn btn-primary h-50" data-toggle="modal"
                                            data-target="#modal-edit-question-{{details.id}}"
                                            href="#edit_personal_details"><i class="fas fa-pen"></i></lo>
                                    </div>
                                </div>

                                <div class="modal fade" id="modal-edit-question-{{details.id}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Question Info</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <form action="{% url 'UpdateQuestionGenerated' details.id %}" enctype="multipart/form-data"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label>Question</label>
                                                        <textarea rows="3" name="name" class="form-control">{{details.questions}}</textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Answer</label>
                                                        <textarea rows="5" name="answers" class="form-control">{{details.answers}}</textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Question type</label>
                                                        <select class="form-control" name="question_type">
                                                            {% for qn_type in question_type %}
                                                            <option value="{{qn_type.id}}">{{qn_type.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">Close</button>
                                                        <input type="submit" class="btn btn-primary"
                                                            value="Save changes">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            {% endif %}
                        </ol>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% load static %} {% include "includes/footer.html " %}